{% extends "global/Page.html" %}

{% block title %}第{{ player.round_number }}ラウンド（全{{ C.NUM_ROUNDS }}ラウンド） 入札{% endblock %}

{% block content %}
<div style="padding: 15px; margin-bottom: 15px; border: 1px solid #333333; border-radius: 10px; background-color: #fef9e7;">
    このラウンドで提示された商品のあなたの評価値は <strong>{{ player.item_value }}</strong> です。<br>
    評価に基づき、入札額（整数）を入力してください。
    <input type="number" name="individual_choice" min="{{ C.EVALUATE_MIN }}" max="{{ C.EVALUATE_MAX }}" required>
</div>

{% next_button %}
{% include C.INSTRUCTIONS_TEMPLAT %}
{% endblock %}
